{% extends 'layout/base.html' %}

{% block body %}

{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div> 
{% endif %}

<div class="container">
    <div class="d-flex justify-content-end mb-4">
        <div>
            <p>Si no tiene un usuario entonces puede:</p> 
            <form action="{% url 'signup' %}" class="d-flex justify-content-end">
                <button class="btn btn-primary">
                    Crear usuario
                </button>
            </form>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mb-4">
        <div>
            <h2 class="mb-4"> Iniciar sesión: </h2>
            <form method="POST">
                {% csrf_token %}
                <p>Ingrese el usuario:  <input type="text" placeholder="Pepe" name="username"></p>
        
                <p>Ingrese la contraseña: <input type="password" name="password"> </p>
                <button class="btn btn-primary">
                    Iniciar sesión
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}